#header {
  height: 60px;
  padding: 0 20px;
  background-color: #5BC0DE;
}
.header-inner {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.gnb {
  display: flex;
  li {
    + li {
      margin-left: 20px;
    }
    a {
      display: block;
      color: #fff;
    }
  }
}
.btn {
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  font-size: 15px;
  &.success {
    background-color: #5BC0DE;
  }
  &.danger {
    background-color: #D9534F;
  }
  &.normal {
    border: 1px solid #aaa;
    background-color: #fff;
    color: #333;
  }
  &:disabled {
    opacity: 0.5;
  }
}
input[type="text"], input[type="password"], input[type="email"] {
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  font-size: 16px;
  color: #222;
  border: 1px solid #d1d1d1;
  background-color: #fff;
}
.validation-text {
  margin-top: 10px;
  font-size: 14px;
  color: red;
}
.form-layout {
  width: 500px;
  margin: 80px auto 0;
  box-shadow: 0 0 10px 1px #ddd;
  background-color: #fff;
  .form-inner {
    padding: 30px;
  }
  .page-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
  }
  .form-area {
    + .form-area {
      margin-top: 30px;
    }
    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 16px;
    }
    input {
      width: 100%;
      box-sizing: border-box;
    }
  }
  .term-check {
    margin-top: 20px;
  }
  .btn-group {
    margin-top: 20px;
    text-align: center;
  }
}
.contents-layout {
  display: flex;
}
.col {
  padding: 20px;
  &.col-4 {
    width: 40%;
  }
  &.col-6 {
    width: 60%;
  }
}
.user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
	padding: 20px;
  box-shadow: 0 0 2px 0px #666;
  border-radius: 5px;
  background-color: #fff;
  .user-box {
    max-width: 250px;
    strong {
      font-size: 20px;
    }
  }
}